@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

h1, h2, h3, h4, h5, h6 {
    color: #322F56  ;
}

.logo{
    margin-top: 60px;
}

.judul-login{
    font-family: 'Merriweather', serif;
}

h4.judul-card{
    color: #191919;
    font-weight: bold;
    font-size: 22px;
    line-height:1.3em;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-family: 'Merriweather', serif;
}

p.subjudul {
    color: #CED0CE;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

button.btn-login {
    width: 100%;
    align-content: center;
    color: #fff;
    background-color: #0187E0;
}

button.btn-login:hover {
    background-color: rgb(10, 102, 163);
    color: #fff;
}

a.btn-login {
    width: 100%;
    align-content: center;
    color: #fff;
    background-color: #0187E0;
}

a.btn-login:hover {
    background-color: rgb(10, 102, 163);
    color: #fff;
}

.tiny{
    color: rgb(10, 102, 163);
}

hr.bullet {
    position: relative;
    border-color: #EFEFEF;
}

hr.bullet:before {
    position: absolute;
    content: "";
    background-color: #EFEFEF;
    border: 2px solid #fff;
    width: 12px;
    height: 12px;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 100px;
}

span.harus {
    color: #d40000;
}

span.des {
    font-weight: 400;
    font-size: 12px;
    color: #d40000;
}

a.btn-regis {
    border: 1px solid #EFEFEF; 
    color: #CED0CE;
}

a.btn-regis:hover {
    background-color: #EFEFEF;
    color: rgb(87, 86, 95);
}

a.kembali {
    font-size: 18px;
    font-weight: 200;
    color: #322F56;
    text-decoration: none;
}

a.kembali:hover {
    font-size: 18px;
    font-weight: 200;
    color: #322F56;
    text-decoration: none;
}

/* ________________________________________________________ */

.jumbotron.jumbotron-fluid{
    background-color: white;
    margin-top: 50px;
}

nav.shift ul li a {
    font-size: 12px;
    position: relative;
    z-index: 1;
    padding: none;
}

nav.shift ul li a:hover {
    color: #191919;
}

nav.shift ul li a:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    content: '';
    color: #0187E0;
    background: #0187E0;
    visibility: none;
    opacity: 0;
    z-index: -1;
}

nav.shift ul li a:hover:after {
    opacity: 1;
    margin: auto;
    align-items: center;
    margin-left: 2,5px;
    height: 5%;
}

.navbar-light .navbar-nav .nav-item.active .nav-link {
    color: #191919;
    width: 80px;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Montserrat';
    margin-left: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #191919 !important;
}

.judul{
    color: #191919;
    font-weight: bold;
    font-size: 32px;
    line-height:1.3em;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-family: 'Merriweather', serif;
}

p.sub, label {
    color: rgb(68, 68, 68);
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}

a.btn-minat {
    color: #191919;
    width: 140px;
    height: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #0187E0;
    padding: 10px 20px 10px 20px;
    display: flex;
    border: none;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 15px rgba(128, 204, 255, 0.329);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

a.btn-minat:hover {
    background-color: rgb(10, 102, 163);
    color: #191919;
}

.btn.btn-minat {
    color: #EFEFEF;
    width: 140px;
    height: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #0187E0;
    padding: 10px 20px 10px 20px;
    display: flex;
    border: none;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 15px rgba(128, 204, 255, 0.329);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn.btn-minat:hover {
    background-color: rgb(10, 102, 163);
    color: #EFEFEF;
}

/* ----------------------------------------------- */

.kotak{
    margin-right: 10px;
    float: left;
    border: 1px solid #191919;
    width: 30px;
    height: 30px;
    color: #000;
}


/* login */

.login {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}

.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img img {
    width: 500px;
}

.avatar {
    margin-top: 40px;
    width: 78px;
}

form {
    width: 360px;
}

.login-container {
    display: flex;
    align-items: center;
    text-align: center;
}

form h2 {
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333;
}

.input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.input-div:after, .input-div:before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #0187E0;
    transition: .3s;
}

.input-div:after {
    right: 50%;
}

.input-div::before {
    left: 50%;
}

.input-div.focus .i i {
    color: #0187E0;
}

.input-div.focus div h5 {
    top: -5px;
    font-size: 15px;
}

.input-div.focus:after, .input-div.focus:before {
    width: 50%;
}

.input-div.one {
    margin-top: 0;
}

.input-div.two {
    margin-bottom: 4px;
}

.i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    color: #d9d9d9;
    transition: .3s;
}

.input-div > div {
    position: relative;
    height: 45px;
}
.input-div > div h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}

.input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'Poppins', sans-serif;
}

a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999999;
    font-size: 0.9rem;
    transition: .3s;
}

a:hover {
    color: #0187E0;
}